@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html onmousedown=' return false;' onselectstart='return false;' oncontextmenu='return false;'>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.superhero.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap-notify.min.js"></script>
    <script src="~/Scripts/bootstrap-dialog.min.js"></script>
    <link href="~/Content/bootstrap-dialog.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/main.js"></script>
</head>
<body>
    <div class="container body-content" onmousedown=' return false;' onselectstart='return false;'oncontextmenu='return false;'>
        @RenderBody()
    </div>

</body>
</html>
